
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s ease-in; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 30%; 

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.adicionar-ic {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.adicionar-ic:hover {
    transform: scale(1.5);
}
.adicionar-ic {
    width: 50px; height:50px;
}
 h4{
    text-align: center;
}.input {
    position: relative;
    margin-bottom: 20px; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
} 
.botao1 {
    background-color: #0C120C;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botao1:hover{
    background-color:rgb(77, 77, 77);
}
input[type="file"]{
    display: none;
}
.botao2 {
    background-color: #0C120C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; 
    text-align: center; 
    width: 80%; 
    box-sizing: border-box; 
    font-size: 17px
}

.botao2:hover {
    background-color: rgb(77, 77, 77);
}

button.botao2 {
    width: 80%; 
    font-size: 17px
}
.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"],
.modal-content input[type="number"] {
    width: 100%;
    max-width: 300px; 
    padding: 12px 15px; 
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box; 
    font-size: 16px; 
    transition: all 0.3s ease; 
}

.modal-content input[type="text"]:focus,
.modal-content input[type="password"]:focus,
.modal-content input[type="email"]:focus,
.modal-content input[type="number"]:focus {
    border-color: #000000; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombras para indicar foco */
}



.input-caixa {
    width: 100%;
    max-width: 300px; 
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px; 
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
}

.input-caixa:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.botao2 {
    background-color: #0C120C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; 
    text-align: center; 
    width: 100%; 
    max-width: 300px;
    box-sizing: border-box; 
    font-size: 17px
}

.botao2:hover {
    background-color: rgb(77, 77, 77);
}

button.botao2 {
    width: 100%; 
    font-size: 17px
}
.modal-content {
    padding: 20px;
    border-radius: 5px;
    width: 400px; 
    max-width: 100%; 
    margin: auto; 
   margin-top: 20px;
    text-align: center;
}
.botao {
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #89858f;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.botao:hover {
    background-color: #535158;
}


